label {
	color:white;
}

.sign {
	width: 35px;
	height: 35px;
	background: white;
}

/*.sign2 {
	width: 45px;
	height: 45px;

}*/

.output {
	border: 1px dashed white;
	height: 20px;
	width: 100%;
	color: black;
	background-color: silver;
}